.attribution { font-size: 11px; text-align: center; width: 90vw;}
.attribution a { color: hsl(228, 45%, 44%); }
/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */
body{
  background-color: hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.9375rem;
  margin:0;
}
h1{
   font-family: 'Big Shoulders Display', cursive;
   color: hsl(0, 0%, 95%);
}
.row{
  margin:9% 3%;
  position: relative;
  border-radius: 16px;

}
.row p{
  width: 82%;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5;
}
.col{
  padding: 32px;
}
.col button{
  background-color:hsl(0, 0%, 95%);
  border: none;
  width: 136px;
  height: 48px;
  border-radius:32px;
  margin: 15% 0 10%;
  cursor: pointer;
}
.col-1{
  background-color: hsl(31, 77%, 52%);
  border-radius: 16px 16px 0 0;
}
.col-1 button{
  color:  hsl(31, 77%, 52%);
}
.col-1 button:hover{
  color: hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%);
  border: 2px solid hsl(0, 0%, 95%);
}
.col-2{
  background-color: hsl(184, 100%, 22%);
}
.col-2 button{
  color:  hsl(184, 100%, 22%);
}
.col-2 button:hover{
  color: hsl(0, 0%, 95%);
  background-color: hsl(184, 100%, 22%);
  border: 2px solid hsl(0, 0%, 95%);
}
.col-3{
  background-color: hsl(179, 100%, 13%);
  border-radius:0 0 16px 16px;
}
.col-3 button{
  color:   hsl(179, 100%, 13%);
}
.col-3 button:hover{
  color: hsl(0, 0%, 95%);
  background-color: hsl(179, 100%, 13%);
  border: 2px solid hsl(0, 0%, 95%);
}

/* LARGE DEVICE SIZE */

@media (min-width:376px) and (max-width:1600px){
  /* p{
    display: inline-block;
  } */
  .row{
    width: 80%;
    margin:9% auto 9% 16%;
  }
  .col{
    display: inline-block;
    width:22%;
  }
  .col button{
    margin:35% 0 10%;
  }
  .col-1{
    border-radius: 16px 0 0 16px;
  }
  .col-2{
    position: relative;
    right: 16px;
  }
  .col-3{
    position: relative;
    right: 24px;
    border-radius: 0 16px 16px 0;
  }
}
